{% extends "_primary.html" %}

{% block content %}
<main class="govuk-main-wrapper govuk-body " id="main-content" role="main">
  <h2 class="govuk-heading-l">Vulnerability Reporting</h2>

  <div>
    <h3 class="govuk-heading-m">Submit a report</h3>
    <p>Find where to report a vulnerability</p>
    <p>
      <a href="/submit" role="button" class="govuk-button" data-module="govuk-button">
        Submit report
      </a>
    </p>
  </div>

  <div>
    <h3 class="govuk-heading-m">What is a vulnerability?</h3>
    <p>A vulnerability is a technical issue with a government website or domain that attackers or hackers could use to exploit the service and its users. Unless an organisation's vulnerability disclosure programme explicitly mentions payment, you will not be paid a reward for reporting a vulnerability (known as a "bug bounty"). </p>
    <p>&nbsp;</p>
  </div>

  <div>
    <h3 class="govuk-heading-m">Acknowledgements</h3>
    <p>We appreciate people reaching out with valid vulnerabilities and are more than happy to include them on an acknowledgement page for their efforts.</p>
    <p>Make it clear when reporting a vulnerability if you'd like to be acknowledged in this way.</p>
    <p>
      <a href="/acknowledgements" role="button" class="govuk-button" data-module="govuk-button">
        Go to acknowledegments
      </a>
    </p>
  </div>

</main>
{% endblock %}
