Policy: ${policy_url}

Contact: ${contact_url}
Contact: mailto:vulnerability-reporting@cabinetoffice.gov.uk

Acknowledgments: ${ack_url}

Hiring: https://www.civilservicejobs.service.gov.uk/

Last-Updated: ${last_updated}
Expires: ${expiry_date}

# Generated at: https://github.com/co-cddo/gccc-vrs-iac
